/* Nav */

.shropnav {
    background-color: #ffdc00;
    padding-left: 20px;
    color: #3a0fe7;
}

.navname {
    color: #3a0fe7;
    font-family: Londrina Solid;
    font-size: 3rem;
    font-weight: 600;
}

#navbarText {
    padding-left: 200px;
    font-size: 1.2rem;   

}

.nav-link {
    margin-right: 20px;
}

/* Home Page */

body {
    background-color: #F9FAFC;
    font-family: Didact Gothic;
    
}

.opening-message h2 {
    font-family: Londrina Solid;
    font-weight: 100;
    text-transform: uppercase;
    
}

.opening-message strong {
    color: #3a0fe7;
}

.opening-message h5 {
    font-weight: lighter;
    
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #3a0fe7;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #3a0fe7;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 200px;
    width: 100%;
}

.masthead-text {
    background-color: #3a0fe7;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #3a0fe7;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #000000;
}

.post-link:hover,
.page-link {
    background-color: #ffdc00;
}

.story-title {
    margin-top: 10px;
    margin-left: 5%;
}

.story-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #3a0fe7;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #3a0fe7;
}

.link {
    color: #3a0fe7;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}


.btn-delete {
    color: #fff;
    background: #3a0fe7;
}

.faded {
    color: rgb(172, 175, 175);
}

.alert {
    border-color:#3a0fe7;
    color: #3a0fe7;
}