{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Stories Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for story in story_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in story.image.url %}
                                <img class="card-img-top" src="{% static 'images/Ironbridge.jpg' %}"
                                    alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ story.image.url }}" alt="{{ story.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ story.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'story_detail' story.slug %}" class="post-link">
                                <h2 class="card-title">{{ story.title }}</h2>
                            </a>
                            <hr />
                            <p class="location"> {{ story.story_location }}</p>
                            <p class="category"> {{ story.news_category }}</p>
                            <p class="card-text text-muted h6">{{ story.created_on }}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}
{% block copyright %}
Copyright 2024 Stuart Preston
{% endblock %}