{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="story-title">{{ story.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="story-subtitle">{{ story.author }} | {{ story.created_on }} | {{story.story_location}} |
                    {{story.news_category}}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/Ironbridge.jpg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The story content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ story.body | safe }}
                </p>
            </div>
        </div>
    </div>
    <!-- Comments count-->
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <!-- Comments -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h2> Comments:</h2>
            <div class="card-body">
                {% if not story.comments.all %}
                No Comments...<a href="#">
                    Start the conversation and add one!</a>
                {% else %}
                {% for comment in story.comments.all %}
                <strong>
                    {{ comment.name }} -
                    {{ comment.created_on }}
                </strong>
                <br />
                {{ comment.body }}
                <br /><br />

                {% endfor %}
            </div>
            {% endif %}
            <hr>
        </div>
    </div>
</div>
{% endblock content %}